.App {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  --grid-border-color: #ccc;
  --grid-snake-color: #000;
  --grid-empty-color: #fff;
  --grid-food-color: #f00;
}

.App footer {
  margin-top: 10px;
}

.App .game-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App .grid {
  margin-top: 20px;
  display: grid;
}

.App .cell {
  width: 20px;
  height: 20px;
  border: 1px solid var(--grid-border-color);
  margin-bottom: -1px
}

.App .cell.snake {
  background: var(--grid-snake-color);
}

.App .cell.food {
  background: var(--grid-food-color);
}